.base-font {
    font-family: 'Open Sans', sans-serif;   
}
.additional-font {
    font-family: 'Francois One', sans-serif;
}

$main-color: #555554;
$caption-color: #898988;
$additional-color-1: darkgray;
$additional-color-2: gray;
$additional-color-3: silver;
$additional-color-4: lightgray;
$selection-color: mistyrose;
$white-color: #ffffff;

$xl-space: 64px;
$l-space: 32px;
$m-space: 16px;
$s-space: 8px;
$xs-space: 4px;
$xxs-space: 2px;

@mixin media($media:'xxs') {
    @if $media == 'xxs' {
      @media screen and (max-width:320px){
        @content;
      }
    }
    @if $media == 'xs'{
      @media screen and (max-width:575px){
        @content;
      }
    }
    @if $media == 'mobile'{
      @media screen and (max-width:767px){
        @content;
      }
    }
    @if $media == 'tablet'{
      @media screen and (max-width:991px){
        @content;
      }
    }
    @if $media == 'small'{
      @media screen and (max-width:1199px){
        @content;
      }
    }
    @if $media == 'large'{
      @media screen and (max-width:1399px){
        @content;
      }
    }
    @if $media == 'xl'{
      @media screen and (max-width:1599px){
        @content;
      }
    }
    @if $media == 'xxl'{
        @media screen and (max-width:1799px){
          @content;
        }
      }
}

html {
    body {
        position: relative; 
        max-width: 100vw;
        max-height: 100vh;
        color: $main-color;
        margin: 0;
        overflow-x: hidden;
        // global  styles//
        ::selection {
            background-color: $selection-color;
        }
        a {
            font-weight: 300;
            color: $main-color;
            &.back {
                text-decoration: none;
            }
            &.more {
                margin-top: 0.5rem;
                display: inline-block;
                background-color: $main-color;
                color: $white-color;
                text-decoration: none;
                text-transform: uppercase;
                @extend .base-font;
                padding: 0.35rem 0.8rem;
                border: 2px solid $main-color;
                font-weight: 400;
                transition: 0.3s;
                font-size: 0.8rem;
                @include media('xs') {
                    font-size: 0.7rem;
                }
                &:hover {
                    background-color: $white-color;
                    border: 2px solid $main-color;
                    color: $main-color;
                    transition: 0.3s;
                }
            }
            &.hyperlink {
                font-weight: 600;
                transition: .3s;
                &.mail {
                    font-weight: 600;
                }
                &.project {
                    text-decoration: none;
                    font-weight: 400;
                }
                &:hover {
                    color: white;
                    text-decoration: none;
                    background-color: $main-color;
                    transition: .3s;
                }
            }
        }
        .screen-reader-only {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }
        h1 {
            @extend .base-font;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-top: 1.5rem;
            @include media("small") {
                font-size: 1rem;
            }
            p {
                margin: 0;
                @include media("small") {
                    font-size: 0.8rem;
                }
            }
        }
        h2 {
            @extend .additional-font;
            text-transform: uppercase;
            font-size: 2.5rem;
            margin: 0;
            @include media('xs') {
                font-size: 2rem;
                text-align: center;
            }
            p {
                margin: 0 0 2rem 0;
            }
        }
        h3  {
            font-size: 1.2rem;
            margin: 0;
            @extend .additional-font;
            text-transform: uppercase;
        }
        h4, h5 {
            @extend .additional-font;
            @include media('xs') {
                margin-bottom: 0.5rem;
            }
        }
        p, li {
            @extend .base-font;
            line-height: 1.5;
            font-weight: 300;
            font-size: 0.9rem;
                @include media('xxl') {
                    font-size: 0.82rem;
                }
                @include media('large') {
                    font-size: 0.75rem;
                }
                @include media('small') {
                    font-size: 0.7rem;
                }
                @include media('tablet') {
                    font-size: 0.9rem;
                }
                @include media('xs') {
                    font-size: 0.8rem;
                }
            }
        }
        // end of global styles
        .start-section {
            display: flex;
            position: relative;
            width: 100vw;
            height: 100vh;
            @include media('tablet') {
                display: block;
                width: 100%;
                height: 100%;
                margin-bottom: 4rem;
            }
            .start-section__image {
                width: 48%;
                @include media('xxl') {
                    width: 50%;
                }
                @include media('large') {
                    width: 52%;
                }
                @include media('small') {
                    width: 52%;
                }
                @include media('tablet') {
                    width: 50%;
                    margin: 0 auto;
                }
                @include media('xs') {
                    width: 60%;
                }
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .start-section__text {
                width: 45%;
                @include media('xxl') {
                    width: 40%;
                }
                @include media('xl') {
                    width: 45%;
                }
                @include media('large') {
                    width: 43%;
                }
                @include media('small') {
                    width: 45%;
                }
                @include media('tablet') {
                    width: 90%;
                    margin: 0 auto;
                }
                @include media('xs') {
                    width: 90%;
                }
                .start-section__text-greeting {
                    @extend .additional-font;
                    font-size: 5rem;
                    font-weight: 800;
                    padding-bottom: 0.5rem;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    @include media('xxl') {
                        font-size: 4rem;
                        margin-top: 0.5em;
                    }
                    @include media('small') {
                        font-size: 3rem;
                        margin-top: 0.5em;
                        padding-bottom: 0;
                    }
                    @include media('tablet') {
                        margin-top: 0;
                        text-align: center;
                    }
                }
                .start-section__text--socials {
                    p {
                        display: inline;
                        margin-right: $xs-space;
                    }
                    .icon {
                        margin-left: $m-space;
                        padding: 0 $xs-space;
                        text-decoration: none;
                        position: relative;
                        top: 0;
                        transition: 0.3s;
                        &:hover {
                            top: -0.3rem;
                            transition: 0.3s;
                        }
                        &:first-of-type {
                            margin-left: 0;
                        }
                        img {
                            max-width: 0.9rem;
                            max-height: auto;
                            @include media('small') {
                                max-width: 0.7rem;
                            }
                            @include media('tablet') {
                                max-width: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .scroll-button {
            position: absolute;
            left: 50%;
            bottom: 0.8rem;
            transform: translate(-50%, -50%);
            text-align: center;
            @extend .additional-font;
            transition: 0.5s;
            text-decoration: none;
            cursor: pointer;
            @include media('large') {
                bottom: 0.5rem;
            }
            @include media('tablet') {
                display: none;
            }
            p {
                transform: rotate(90deg);
                display: block;
                text-transform: uppercase;
                padding: 0.4rem 0;
                font-size: 0.8em;
                color: $main-color;
                font-weight: 700;
                @include media('large') {
                    font-size: 0.75rem;
                }
            }
        }
        .navigation {
            text-align: center;
            padding: 2rem 0 0;
            margin-bottom: 0;
            @extend .base-font;
            font-weight: 300;
            li {
                list-style-type: none;
                display: inline-block;
                padding-right: 1.5rem;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 1.1rem;
                &:last-of-type {
                    padding-right: 0;
                }
                @include media('xs') {
                    padding-right: 1rem;
                    font-size: 0.75rem;
                }
            }
        }
        .projects-section {
            padding: $xl-space 0;
            background: #F5F5F5;
            position: relative;
            .projects-section__wrapper {
                position: relative;
                padding: $xl-space;
                max-width: 65%;
                margin: 0 auto;
                background-color: $white-color;
                border: 2px solid black;
                @include media('tablet') {
                    max-width: 82%;
                    padding: $m-space;
                }
                .projects-section__wrapper--projects {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 3rem 0 0 0;
                    font-size: 0.9rem;
                    .projects-section__wrapper--projects-box {
                        flex: 1 0 40%;
                        position: relative;
                        margin: 0 2rem 2rem 0;
                        padding: 1rem 1rem 1rem 0;
                        @include media('mobile') {
                            flex: 1 0 50%;
                        }
                        @include media('xs') {
                            margin: 0 1rem 1rem 0;
                        }
                        .project {
                            position: relative;
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 1.1rem;
                            @extend .additional-font;
                            text-transform: uppercase;
                            @include media('tablet') {
                                font-size: 1rem;
                            }
                            &:after {
                                content: "";
                                position: absolute; 
                                display: block;
                                bottom: -0.2rem;
                                right: 0;
                                width: 100%;
                                height: 1px;
                                background-color:$main-color;
                            }
                        }
                    }
                }
            }
        }
        .project-section {
            background-color: #f5f5f5;
            padding: 3rem 0;
            margin: 0 0 3rem;
            position: relative;
            .project-section__wrapper {
                position: relative;
                max-width: 42%;
                margin: 0 auto;
                padding: 3rem;
                background-color: #ffffff;
                border: 2px solid black;
                @include media('tablet') {
                    max-width: 65%;
                }
                @include media('xs') {
                    max-width: 72%;
                    padding: $l-space;
                }
                .back {
                    top: 0;
                    left: -6rem;
                    position: absolute;
                    @extend .additional-font;
                    text-transform: uppercase;
                    @include media('tablet') {
                        left: 0;
                        top: -5rem;
                    }
                    @include media('xs') {
                        font-size: 0.8rem;
                    }
                }
                h4 {
                    margin: 1.5rem 0 1rem 0;
                }
                .smaller {
                    font-size: 0.6rem;
                }
            }
            .project-section__wrapper-part {
                position: relative;
                margin: 5rem 0;
                &:last-of-type {
                    margin: 0;
                }
                h5 {
                    font-size: 1rem;
                }
                .qa {
                    font-weight: 600;
                }
                ul, ol {
                    li {
                        padding: 0;
                        font-weight: 100;
                        @extend .base-font;
                    }
                }
                figure {
                    margin: 0;
                    figcaption {
                        margin-top: 0.3rem;
                        margin-bottom: 2rem;
                        color: $caption-color;
                        font-size: 0.9rem;
                        @include media('xxl') {
                            font-size: 0.82rem;
                        }
                        @include media('large') {
                            font-size: 0.75rem;
                        }
                        @include media('small') {
                            font-size: 0.7rem;
                        }
                        @include media('tablet') {
                            font-size: 0.9rem;
                        }
                        @include media('xs') {
                            font-size: 0.8rem;
                        }
                    }
                    img {
                        position: relative;
                        height: auto;
                        border: 2px solid black;
                        padding: 1rem;
                        &.project-img {
                            &--1 {
                                max-width: 90%;
                                left: -4.5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--2 {
                                max-width: 80%;
                                left: -5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--3 {
                                max-width: 75%;
                                left: -4.5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--4 {
                                max-width: 95%;
                                left: -10.5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                    left: -4.5rem;
                                }
                                @include media('mobile') {
                                    left: -4.7rem;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--5 {
                                max-width: 90%;
                                left: -7.5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                    left: -4.5rem;
                                }
                                @include media('mobile') {
                                    left: -4.7rem;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--6 {
                                max-width: 90%;
                                left: -8rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                    left: -6rem;
                                }
                                @include media('mobile') {
                                    left: -5rem;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--7 {
                                max-width: 110%;
                                left: -6.9rem;
                                @include media('tablet') {
                                    left: -7rem;
                                }
                                @include media('mobile') {
                                    left: -5.2rem;
                                }
                                @include media('xs') {
                                    max-width: 100%;
                                    left: -1.2rem;
                                }
                            }
                            &--8 {
                                max-width: 90%;
                                left: -5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--9 {
                                max-width: 90%;
                                left: -6.5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                            &--10 {
                                max-width: 90%;
                                left: -5rem;
                                @include media('tablet') {
                                    max-width: 100%;
                                }
                                @include media('xs') {
                                    left: -1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-sections-container {
            display: flex;
            @include media('mobile') {
                display: block;
            }
            p {
                font-weight: 100;
                @include media('xl') {
                    font-size: 0.9rem;
                }
            }
            .portfolio-container {
                flex: 1;
                margin-left: 2rem;
                @include media('mobile') {
                    margin-left: 0;
                    margin-top: $xl-space;
                }
                .project {
                    position: relative;
                    &.bold {
                        font-weight: 400;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        transition: .5s;
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                            transition: .5s;
                        }
                    }
                }
                .work-box {
                    margin: $l-space 0;
                    hr {
                        display: inline;
                    }
                }
                .small {
                    font-size: 0.8rem;
                    margin-top: $l-space;
                }
            }
        }

        .footer {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            margin-top: $l-space;
            @include media('xl') {
                margin-bottom: $m-space;
            }
            p {
                font-size: 0.6rem;
                padding: $s-space $s-space $m-space; 
                margin: 0;
                font-weight: 700;
                text-transform: uppercase;
            }
        }          
    }