.base-font, html body p, html body .title h1 {
  font-family: 'Open Sans', sans-serif;
}

.additional-font, html body .number, html body .intro-container {
  font-family: 'PT Serif', serif;
}

.gradient-effect, html body .intro-container p a {
  background-image: linear-gradient(120deg, #f7aaef 0%, #F55B74 100%);
  background-repeat: no-repeat;
  background-size: 95% 0.2em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.gradient-bg, html body .main-sections-container .portfolio-container .project:after, html body .main-sections-container .about-container .icon:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7aaef), to(#F55B74));
  background-image: linear-gradient(left, #f7aaef 0%, #F55B74 100%);
}

.gradient-text, html body .detail, html body .title h1 span, html body footer p {
  background: -webkit-linear-gradient(left, #f7aaef 0%, #F55B74 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html body {
  margin: 0 calc(64px + 64px) 0;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  color: #555554;
}

@media screen and (max-width: 1599px) {
  html body {
    margin: 0 32px 0;
  }
}

html body ::-moz-selection {
  background-color: #eaccd0;
}

html body ::selection {
  background-color: #eaccd0;
}

html body a {
  text-decoration: none;
  color: #555554;
}

html body .screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

html body h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

html body h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}

html body p {
  line-height: 1.5;
}

html body .mark {
  font-weight: 600;
}

html body .number {
  font-weight: 600;
}

html body .section {
  padding: 16px 0;
}

@media screen and (max-width: 1599px) {
  html body .section.intro-container {
    padding: 16px 0;
  }
  html body .section.main-sections-container {
    padding: 16px 0 32px;
  }
}

html body .title {
  margin: 16px 0;
}

html body .title h1 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 16px 0 0 0;
  margin: 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 575px) {
  html body .title h1 {
    font-size: 0.7rem;
  }
}

html body .intro-container {
  text-align: center;
  font-weight: 800;
  font-style: italic;
  font-size: 2rem;
}

@media screen and (max-width: 575px) {
  html body .intro-container {
    font-size: 1.5rem;
  }
}

html body .intro-container p a:hover {
  color: #ffffff;
  background-size: 95% 88%;
}

html body .main-sections-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  html body .main-sections-container {
    display: block;
  }
}

html body .main-sections-container p {
  font-size: 0.9rem;
  font-weight: 100;
}

@media screen and (max-width: 1599px) {
  html body .main-sections-container p {
    font-size: 0.9rem;
  }
}

html body .main-sections-container .portfolio-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  html body .main-sections-container .portfolio-container {
    margin-left: 0;
    margin-top: 64px;
  }
}

html body .main-sections-container .portfolio-container .project {
  position: relative;
}

html body .main-sections-container .portfolio-container .project.bold {
  font-weight: 400;
}

html body .main-sections-container .portfolio-container .project:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}

html body .main-sections-container .portfolio-container .project:hover:after {
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

html body .main-sections-container .portfolio-container .work-box {
  margin: 32px 0;
}

html body .main-sections-container .portfolio-container .work-box hr {
  display: inline;
}

html body .main-sections-container .portfolio-container .cv {
  margin: 32px 0;
}

html body .main-sections-container .portfolio-container .small {
  font-size: 0.8rem;
  margin-top: 32px;
}

html body .main-sections-container .about-container {
  margin-right: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 767px) {
  html body .main-sections-container .about-container {
    margin-right: 0;
  }
}

html body .main-sections-container .about-container .icon {
  margin-left: 16px;
  padding: 0 4px;
}

html body .main-sections-container .about-container .icon:first-of-type {
  margin-left: 0;
}

html body .main-sections-container .about-container .icon img {
  max-width: 15px;
  max-height: auto;
}

html body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 32px;
}

@media screen and (max-width: 1599px) {
  html body footer {
    margin-bottom: 16px;
  }
}

html body footer p {
  font-size: 10px;
  padding: 8px;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */