.base-font {
    font-family: 'Open Sans', sans-serif;   
}
.additional-font {
    font-family: 'PT Serif', serif;
}

$main-color: #555554;
$additional-color: #f7aaef;
$additional-color-dark: #F55B74;
$selection-color: #eaccd0;
$white-color: #ffffff;

$xl-space: 64px;
$l-space: 32px;
$m-space: 16px;
$s-space: 8px;
$xs-space: 4px;
$xxs-space: 2px;

.gradient-effect {
    background-image: linear-gradient(120deg, $additional-color 0%, $additional-color-dark 100%);
    background-repeat: no-repeat;
    background-size: 95% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}
.gradient-bg {
    background-image: linear-gradient(left, $additional-color 0%, $additional-color-dark 100%);
}
.gradient-text {
    background: -webkit-linear-gradient(left, $additional-color 0%, $additional-color-dark 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin media($media:'xxs') {
    @if $media == 'xxs' {
      @media screen and (max-width:320px){
        @content;
      }
    }
    @if $media == 'xs'{
      @media screen and (max-width:575px){
        @content;
      }
    }
    @if $media == 'mobile'{
      @media screen and (max-width:767px){
        @content;
      }
    }
    @if $media == 'tablet'{
      @media screen and (max-width:991px){
        @content;
      }
    }
    @if $media == 'small'{
      @media screen and (max-width:1199px){
        @content;
      }
    }
    @if $media == 'large'{
      @media screen and (max-width:1399px){
        @content;
      }
    }
    @if $media == 'xl'{
      @media screen and (max-width:1599px){
        @content;
      }
    }
    @if $media == 'xxl'{
        @media screen and (max-width:1799px){
          @content;
        }
      }
}

html {
    body {
        margin: 0 calc(#{$xl-space} + #{$xl-space}) 0;
        position: relative; 
        max-width: 100vw;
        max-height: 100vh;
        color: $main-color;
        @include media('xl') {
            margin: 0 $l-space 0;
        }
        // global  styles//
        ::selection {
            background-color: $selection-color;
        }
        a {
            text-decoration: none;
            color: $main-color;
        }
        .screen-reader-only {
            position:absolute;
            left:-10000px;
            top:auto;
            width:1px;
            height:1px;
            overflow:hidden;
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
        }
        h3  {
            font-size: 1.3rem;
            font-weight: 400;
            margin: 0;
        }
        p {
            @extend .base-font;
            line-height: 1.5;
        }
        .mark {
            font-weight: 600;
        }
        .number {
            @extend .additional-font;
            font-weight: 600;
        }
        .detail {
            @extend .gradient-text;
        }
        .section {
            padding: $m-space 0;
            @include media('xl') {
                &.intro-container {
                    padding: $m-space 0;
                }
                &.main-sections-container {
                    padding: $m-space 0 $l-space;
                }
            }
        }
        // end of global styles
        .title {
            margin: $m-space 0;
            h1 {
                @extend .base-font;
                text-align: center;
                font-size: 0.9rem;
                font-weight: 600;
                padding: $m-space 0 0 0;
                margin: 0;
                letter-spacing: 2px;
                span {
                    @extend .gradient-text;
                }
                @include media('l') {
                    font-size: 0.85rem;
                }
                @include media('xs') {
                    font-size: 0.7rem;
                }
            }
        }
        .intro-container {
            text-align: center;
            @extend .additional-font;
            font-weight: 800;
            font-style: italic;
            font-size: 2rem;
            @include media('l') {
                font-size: 1.7rem;
            }
            @include media('xs') {
                font-size: 1.5rem;
            }
            p {
                a {
                    @extend .gradient-effect;
                    &:hover {
                        color: $white-color;
                        background-size: 95% 88%;
                    }
                }
            }
        }
        .main-sections-container {
            display: flex;
            @include media('mobile') {
                display: block;
            }
            p {
                font-size: 0.9rem;
                font-weight: 100;
                @include media('xl') {
                    font-size: 0.9rem;
                }
            }
            .portfolio-container {
                flex: 1;
                margin-left: 2rem;
                @include media('mobile') {
                    margin-left: 0;
                    margin-top: $xl-space;
                }
                .project {
                    position: relative;
                    &.bold {
                        font-weight: 400;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        @extend .gradient-bg;
                        transition: .4s;
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                            transition: .4s;
                        }
                    }
                }
                .work-box {
                    margin: $l-space 0;
                    hr {
                        display: inline;
                    }
                }
                .cv {
                    margin: $l-space 0;
                }
                .small {
                    font-size: 0.8rem;
                    margin-top: $l-space;
                }
            }
            .about-container {
                margin-right: 2rem;
                flex: 1;
                @include media('mobile') {
                    margin-right: 0;
                }
                .icon {
                    margin-left: $m-space;
                    padding: 0 $xs-space;
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:hover {
                        @extend .gradient-bg;
                    }
                    img {
                        max-width: 15px;
                        max-height: auto;
                    }
                }
            }
        }
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: $l-space;
            @include media('xl') {
                margin-bottom: $m-space;
            }
            p {
                font-size: 10px;
                padding: $s-space; 
                margin: 0;
                font-weight: 100;
                text-transform: uppercase;
                @extend .gradient-text;
            }
        }          
    }
}