.base-font, html body p, html body .title h1 {
  font-family: 'Open Sans', sans-serif;
}

.additional-font, html body .intro-container, html body .main-sections-container .portfolio-container .work-box .number {
  font-family: 'PT Serif', serif;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
            mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
            mask-position: -50%;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
            mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
            mask-position: -50%;
  }
}

html body {
  margin: 0 64px 0;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  color: #555554;
}

@media screen and (max-width: 1599px) {
  html body {
    margin: 0 32px 0;
  }
}

html body ::-moz-selection {
  background-color: #e8e6e5;
}

html body ::selection {
  background-color: #e8e6e5;
}

html body a {
  text-decoration: none;
  color: #555554;
}

html body .screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

html body h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

html body h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}

html body p {
  line-height: 1.5;
}

html body .mark {
  font-weight: 500;
}

html body .mark.color {
  background-color: #dbd1ca;
}

html body .section {
  padding: 32px 0 64px;
}

@media screen and (max-width: 1599px) {
  html body .section.intro-container {
    padding: 16px 0;
  }
  html body .section.main-sections-container {
    padding: 16px 0 32px;
  }
}

html body .title {
  margin: 16px 0;
}

html body .title h1 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 16px 0 0 0;
  margin: 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 575px) {
  html body .title h1 {
    font-size: 0.7rem;
  }
}

html body .title h1 .wand {
  max-height: 32px;
  max-width: auto;
}

@media screen and (max-width: 575px) {
  html body .title h1 .wand {
    max-height: 22px;
  }
}

html body .intro-container {
  text-align: center;
  font-weight: 800;
  font-style: italic;
  font-size: 2rem;
}

@media screen and (max-width: 575px) {
  html body .intro-container {
    font-size: 1.5rem;
  }
}

html body .intro-container p a {
  color: #D4C8BE;
}

html body .intro-container p a::-moz-selection {
  color: #555554;
}

html body .intro-container p a::selection {
  color: #555554;
}

html body .intro-container p a:hover {
  -webkit-mask-image: linear-gradient(-85deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
          mask-image: linear-gradient(-85deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
          mask-size: 200%;
  -webkit-animation: shine 1.5s infinite;
          animation: shine 1.5s infinite;
}

html body .main-sections-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  html body .main-sections-container {
    display: block;
  }
}

html body .main-sections-container p {
  font-weight: 100;
}

@media screen and (max-width: 1599px) {
  html body .main-sections-container p {
    font-size: 0.9rem;
  }
}

html body .main-sections-container .portfolio-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  html body .main-sections-container .portfolio-container {
    margin-left: 0;
    margin-top: 64px;
  }
}

html body .main-sections-container .portfolio-container .bolded {
  font-weight: 500;
}

html body .main-sections-container .portfolio-container .work-box hr {
  display: inline;
}

html body .main-sections-container .portfolio-container .work-box .number {
  font-weight: 700;
}

html body .main-sections-container .portfolio-container .work-box .project {
  position: relative;
}

html body .main-sections-container .portfolio-container .work-box .project:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

html body .main-sections-container .portfolio-container .work-box .project:hover:after {
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

html body .main-sections-container .portfolio-container .small {
  font-size: 0.8rem;
}

html body .main-sections-container .about-container {
  margin-right: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 767px) {
  html body .main-sections-container .about-container {
    margin-right: 0;
  }
}

html body .main-sections-container .about-container .icon {
  margin-left: 16px;
  padding: 0 4px;
}

html body .main-sections-container .about-container .icon:first-of-type {
  margin-left: 0;
}

html body .main-sections-container .about-container .icon:hover {
  background-color: #D4C8BE;
  padding: 0 4px;
}

html body .main-sections-container .about-container .icon img {
  max-width: 15px;
  max-height: auto;
}

html body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 4px;
  margin-top: 32px;
}

@media screen and (max-width: 1599px) {
  html body footer {
    margin-top: 16px;
  }
}

html body footer p {
  font-size: 10px;
  color: #ffffff;
  background: #555554;
  padding: 8px;
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */